body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.child-bar1 {
    width: 18%;
    padding: 24px;
    border-radius: 30px;
    /* background-color: white; */
    font-weight: 400;
}

.child-bar1>div>img {
    width: 100%;
    border-radius: 360px;
    height: 220px;
    object-fit: cover;
}

.Story-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.type-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.child-bar {
    /* flex: 1;     */
    width: 18%;
    padding: 24px;
    border-radius: 30px;
    background-color: white;
    font-weight: 400;
}

.child-bar>div>img {
    width: 100%;
    border-radius: 14px;
    height: 220px;
    object-fit: cover;
}

.bottom-bar {
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
    border-radius: 20px;
    margin-top: 12px;
}

.shoe-name {
    font-weight: bold;
    font-size: 1.1em;
   
    padding: 12px 0;
    text-decoration: none;
}

.about-wrapper {
    margin: 10px auto 20px auto;
    display: flex;
    
    
    padding-top: 20 px;
}


.div-bar{
    display: flex;
}


.price-bar{
    text-decoration: line-through;
    padding: 0px;
    margin: 0px;
}
.price-bar3>img{
    width: 20px;
    height: 20px;
    padding-left: 80px;
}
.star-icon>img{
    width: 20px;
    height: 20px;
}
